<% surveys = @discussion.surveys.group_by {|s| s.survey_status} %>
<% questions = @discussion.questions.group_by {|q| q.question_status} %>

<nav id="main-navbar" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><%= link_to 'All Discussions', "/discussions" %></li>
			<li><%= link_to 'Leader View', "/discussions/#{@discussion.id}/leader" %></li>
			<li class="active"><%= link_to 'Participant View', discussion_path(@discussion.id) %></li>
		</ul>
	</div>
</nav>

<div class="row">
	<div class="col col-xs-12">
		<h2><%= @discussion.title %></h2>
	</div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active show-surveys"><a href="#">Surveys</a></li>
  <li role="presentation" class="show-questions"><a href="#">Questions & Answers</a></li>
  <li role="presentation" class="show-question-form"><a href="#">New Question</a></li>
</ul>

<div class="row">
	<div class="col col-xs-12">
		<p class="message-container"></p>
		<div id="participant-content-container">
			<div class="surveys-container">
				<%= render('survey_responses/survey_response_form', {:surveys => surveys}) %>
			</div>

			<div class="question-form-container" hidden>
				<%= render('questions/new_question_form', {:discussion => @discussion}) %>
			</div>

			<div class="answered-questions-container" hidden>
				<%= render('questions/view_answered_questions', {:questions => questions}) %>
			</div>
		</div>
	</div>
</div>

<script>
	
	$('ul.nav-tabs').on('click', 'li', function() {
		$('ul.nav-tabs').children().removeClass("active");
		var tab = $(this).attr('class');
		$('div#participant-content-container').children().hide();
		$('p.message-container').empty();
		switch (tab) {
			case 'show-question-form':
				$('div.question-form-container').show();
				break;
			case 'show-questions':
				$('div.answered-questions-container').show();
				break;
			default:
				$('div.surveys-container').show();
				break;
		}
		$(this).addClass("active");
	})
	
</script>


