<h2><%= @discussion.title %> Participant Page</h2>

<p class="message-container"></p>

<%= form_tag("/discussions/#{@discussion.id}/questions", method: :post, remote: true) do -%>
	<div>
		<label for="question"> Question </label>
		<input type="text" id="question" name="question[content]">

		<input type="hidden" name="question[discussion_id]" value=<%="#{@discussion.id}"%>>
	</br>
		<input type="submit" value="Submit Question">
	</div>
<% end -%>

<% surveys = @discussion.surveys.group_by {|s| s.survey_status} %>

<p>Surveys</p>
<ul class="survey-list">
	<% if surveys['open'] %>
		<% surveys['open'].each do |survey| %>
			<%= render('discussions/survey_response_form', {:survey_id => survey.id, :survey_question => survey.survey_question}) %>
		<% end %>	
	<% end %>
</ul>

<%= link_to 'Show Leader Page', "/discussions/#{@discussion.id}/leader" %></br>
<%= link_to 'All Discussions', discussions_path %>

<script>
	var channel = dispatcher.subscribe('surveys');
	channel.bind('open_survey', function(data) {
	  var survey_question = data['survey_question'];
	  var survey_id = data['id'];
	  var surveyResponseHtml = '<div id="survey' + survey_id + '"><li>' + survey_question + '</li><form accept-charset="UTF-8" action="/surveys/' + survey_id + '/survey_responses" data-remote="true" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div><input type="text" id="survey' + survey_id + '-response" name="survey_response[content]"><input type="hidden" name="survey_response[survey_id]" value="' + survey_id + '""></br><input type="submit" value="Submit Response"></form></div>';
	  $('ul.survey-list').append(surveyResponseHtml);
	});
	channel.bind('end_survey', function(data) {
	  var survey_id = data['id'];
	  $('div#survey' + survey_id).remove();
	});
</script>







