<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Leader Page', "/discussions/#{@discussion.id}/leader" %></li>
  <li><%= link_to 'Participant Page', discussion_path(@discussion.id) %></li>
</ul>


<div class="row">
	<div class="col col-xs-12">
		<h2><%= @discussion.title %></h2>
		<p class="message-container"> </p>
	</div>
</div>


<div class="row">
	<div class="col col-xs-12">
		<h4>Create New Survey</h4>
		<%= render('surveys/new_survey_form', {:discussion => @discussion}) %>
	</div>
</div>

<% surveys = @discussion.surveys.group_by {|s| s.survey_status} %>

<div class="row">
	<div class="col col-sm-12">
		<div class="row">
			<div class="col col-sm-6 box">
				<h4>Open Surveys</h4>
				<%= render('surveys/survey_list', {:surveys => surveys, :status => 'open'}) %>
			</div>

			<div class="col col-sm-6 box">
				<h4>Closed Surveys</h4>
				<%= render('surveys/survey_list', {:surveys => surveys, :status => 'closed'}) %>
			</div>
		</div>
	</div>

	<div class="col col-sm-12">
		<div class="row">
			<div class="col col-sm-6 box">
				<h4>Ended Surveys</h4>
				<%= render('surveys/survey_list', {:surveys => surveys, :status => 'ended'}) %>
			</div>

			<div class="col col-sm-6 survey-responses-container box">
				<h4>Survey Responses</h4>
				<ul class="ended-survey-responses-list">
					<% if surveys['ended'] %>
						<% surveys['ended'].each do |s| %>
							<%= render('survey_responses/responses_list', {:s => s}) %>
						<% end %>
					<% end %>
				</ul>
				<button class="hide-results-button btn btn-xs">Hide Results</button>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col col-sm-6 participant-questions-container box">
		<h4>New Participant Questions</h4>
		<ul class="questions-list">
			<% if @discussion.questions.length > 0 %>
				<% @discussion.questions.each do |q| %>
					<% if q.question_status == "unanswered" %>
						<%= render('questions/question_response_form', {:q => q}) %>
					<% end %>	
				<% end %>	
			<% end %>
		</ul>
	</div>

	<div class="col col-sm-6 answered-questions-container box">
		<h4>Old Participant Questions</h4>
		<ul class="old-questions-list">
			<% if @discussion.questions.length > 0 %>
				<% @discussion.questions.each do |q| %>
					<% if q.question_status == "answered" %>
						<span id=<%="question#{q.id}-answered-span"%>>
							<li><%= q.content %></li>
							<p><%= q.response %></p>
						</span>
					<% end %>	
				<% end %>	
			<% end %>
		</ul>
	</div>
</div>

