<h2><%= @discussion.title %> Leader Page</h2>

<p>Leader Code: <%= @discussion.leader_code %></p>
<p>Participant Code: <%= @discussion.participant_code %></p>

<p class="message-container"></p>

<%= form_tag("/discussions/#{@discussion.id}/surveys", method: :post, remote: true) do -%>
	<div>
		<label for="question"> Survey Question </label>
		<input type="text" id="question" name="survey[survey_question]">

		<input type="hidden" name="survey[discussion_id]" value=<%="#{@discussion.id}"%>>
	</br>
		<input type="submit" name="survey[survey_action]" value="Create Survey For Later">
		<input type="submit" name="survey[survey_action]" value="Create &amp; Send Survey">
	</div>
<% end -%>

<% surveys = @discussion.surveys.group_by {|s| s.survey_status} %>

<p>Open Surveys</p>
<%= render('discussions/survey_list', {:surveys => surveys, :status => 'open'}) %>

<p>Closed Surveys</p>
<%= render('discussions/survey_list', {:surveys => surveys, :status => 'closed'}) %>

<p>Ended Surveys</p>
<%= render('discussions/survey_list', {:surveys => surveys, :status => 'ended'}) %>

<div class="survey-responses-container">

</div>

<p>Incoming Questions</p>
<ul class="questions-list">
	<% if @discussion.questions.length > 0 %>
		<% @discussion.questions.each do |q| %>
			<li><%= q.content %></li>
		<% end %>	
	<% end %>
</ul>


<%= link_to 'Show Participant Page', discussion_path(@discussion.id) %></br>
<%= link_to 'All Discussions', discussions_path %>

<script>
	var channel = dispatcher.subscribe('questions');
	channel.bind('add_new_question', function(data) {
	    $('ul.questions-list').append('<li>'+data['content']+'</li>');
	});
	$(document).on('ready', function() {
		$('view-results-button').on('click', function(e) {
			var $me = $(e.target);
			console.log($me);
		});
	});
</script>


<!-- <section>
	<div id="accordion">
		<% if @discussion.questions.length > 0 %>
			<% @discussion.questions.each do |q| %>
				<h3><%= q.content %></h3>
				<div>
					<textarea rows="5" cols="30"></textarea>
				</div>
			<% end %>	
		<% end %>
	</div>
</section>

<script>
	$(document).on('ready', function() {
		$("#accordion").accordion({ active: false, collapsible: true });
	});
	var channel = dispatcher.subscribe('new_question');
	channel.bind('add_new_question', function(data) {
	  $('div#accordion').append('<h3>'+data['content']+'</h3><div><textarea rows="10" cols="50"></textarea></div>');
	  $("#accordion").accordion({ active: false, collapsible: true });
	});
</script> -->