<% surveys = @discussion.surveys.group_by {|s| s.survey_status} %>

<% content_for :navigation do %>
	<li><%= link_to 'All Discussions', "/discussions" %></li>
	<li class="active"><%= link_to 'Leader View', "/discussions/#{@discussion.id}/leader" %></li>
	<li><%= link_to 'Participant View', discussion_path(@discussion.id) %></li>
<% end %>		

<div class="row">
	<div class="col col-xs-12">
		<h2><%= @discussion.title %></h2>
	</div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active show-surveys"><a href="#">Current Surveys</a></li>
  <li role="presentation" class="show-survey-form"><a href="#">Create a Survey</a></li>
  <li role="presentation" class="show-survey-responses"><a href="#">Ended Surveys</a></li>
  <li role="presentation" class="show-questions"><a href="#">Participant Q&A</a></li>
</ul>

<div class="row">
	<div class="col col-xs-12">
		<p class="message-container"></p>
		<div id="leader-content-container">
			<div class="current-surveys-container">
				<div class="row">
					<div class="col col-sm-6 box">
						<h4>Open Surveys</h4>
						<%= render('surveys/survey_list', {:surveys => surveys, :status => 'open'}) %>
					</div>

					<div class="col col-sm-6 box">
						<h4>Ready to Send Surveys </h4>
						<%= render('surveys/survey_list', {:surveys => surveys, :status => 'closed'}) %>
					</div>
				</div>
			</div>

			<div class="survey-form-container" hidden>
				<%= render('surveys/new_survey_form', {:discussion => @discussion}) %>
			</div>

			<div class="ended-surveys-container" hidden>
				<div class="row">
					<div class="col col-sm-6 box">
						<h4>Ended Surveys</h4>
						<%= render('surveys/survey_list', {:surveys => surveys, :status => 'ended'}) %>
					</div>

					<div class="col col-sm-6 survey-responses-container box">
						<br>
						<ul class="ended-survey-responses-list">
							<% if surveys['ended'] %>
								<p id="survey-responses-0" hidden><strong> Survey Responses: </strong></p>
								<% surveys['ended'].each do |s| %>
									<%= render('survey_responses/responses_list', {:s => s}) %>
								<% end %>
							<% end %>
						</ul>
						<ul>
							<button class="hide-results-button btn btn-xs btn-default">Hide Responses</button>
						</ul>
					</div>
				</div>
			</div>

			<div class="questions-container" hidden>
				<div class="row">
					<div class="col col-sm-6 participant-questions-container box">
						<h4>New Participant Questions</h4>
						<ul class="questions-list">
							<% if @discussion.questions.length > 0 %>
								<% @discussion.questions.each do |q| %>
									<% if q.question_status == "unanswered" %>
										<%= render('questions/question_response_form', {:q => q}) %>
									<% end %>	
								<% end %>	
							<% end %>
						</ul>
					</div>

					<div class="col col-sm-6 answered-questions-container box">
						<h4>Answered Participant Questions</h4>
						<ul class="old-questions-list">
							<% if @discussion.questions.length > 0 %>
								<% @discussion.questions.each do |q| %>
									<% if q.question_status == "answered" %>
										<span id=<%="question#{q.id}-answered-span"%>>
											<li><%= q.content %></li>
											<p><em><%= q.response %></em></p>
										</span>
									<% end %>	
								<% end %>	
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
