<h2><%= @discussion.title %> Leader Page</h2>

<p>Leader Code: <%= @discussion.leader_code %></p>
<p>Participant Code: <%= @discussion.participant_code %></p>

<ul class="questions-list">
	<% if @questions.length > 0 %>
		<% @questions.each do |q| %>
			<li><%= q.content %></li>
		<% end %>	
	<% end %>
</ul>

<%= link_to 'Show Participant Page', discussion_path(@discussion.id) %></br>
<%= link_to 'All Discussions', discussions_path %>

<script>
	var channel = dispatcher.subscribe('new_question');
	channel.bind('add_new_question', function(data) {
	  console.log('channel event received: ' + data['content']);
	  $('ul.questions-list').append('<li>'+data['content']+'</li>');
	});
</script>