(function() {
	var message = "<%= @message %>";
	$('p.message-container').text(message);
	$('input#question').val('');
	<% if @error.nil? %>
		var survey_status = "<%= @survey.survey_status %>";
		var survey_id = "<%= @survey.id %>";
		var surveyListHtml = '<li class="' + survey_status + '-item-' + survey_id + '"><%= @survey.survey_question %>';
		var surveyFormHtml = "<%= j render('discussions/survey_update_status', :s => @survey, :status => @survey.survey_status) %>";
		$('.' + survey_status + '-surveys-list').append(surveyListHtml + surveyFormHtml + "</li>");
		$('.submit-later').on('click', function(e) {
			var $timerInput = $(this).prev();
			$timerInput.show();
			$timerInput.prev().hide();
			$('.submit-later').on('click', function(e) {
				var parentForm = $(this).parent();
				var formId = $(parentForm).attr('id');
				var numSeconds = $('input[name=seconds]').val();
				var form = {
					id: formId,
					seconds: numSeconds
				};
				var channel = dispatcher.subscribe('surveys');
				setTimeout( function() {
					channel.trigger('timer', form);
				}, 500);
				setTimeout( function() {
					parentForm.submit();
				}, parseInt(numSeconds) * 1000);
				$(parentForm).hide();
			});
		});
	<% end %>
})();