(function() {
	var message = "<%= @message %>";
	$('p.message-container').text(message);
	$('input#question').val('');
	<% if @error.nil? %>
		var survey_status = "<%= @survey.survey_status %>";
		var survey_id = "<%= @survey.id %>";
		var surveyListHtml = '<li class="' + survey_status + '-item-' + survey_id + '"><%= @survey.survey_question %>';
		var surveyFormHtml = "<%= j render('surveys/survey_update_status', :s => @survey, :status => @survey.survey_status) %>";
		$('.' + survey_status + '-surveys-list').append(surveyListHtml + surveyFormHtml + "</li>");
	<% end %>
})();