(function() {
	var message = "<%= @message %>";
	$('p.message-container').text(message);
	<% if @error.nil? %>
		var survey_status = "<%= @survey.survey_status %>";
		var survey_id = "<%= @survey.id %>";
		var surveyListHtml = '<li class="' + survey_status + '-item-' + survey_id + '"><%= @survey.survey_question %>';
		var surveyFormHtml = "<%= j render('discussions/survey_update_status', :s => @survey, :status => @survey.survey_status) %>";
		$('li.closed-item-' + survey_id).remove();
		$('li.open-item-' + survey_id).remove();
		$('.' + survey_status + '-surveys-list').append(surveyListHtml + surveyFormHtml + "</li>");
	<% end %>
	<% if @survey.survey_status == 'ended' %>
		var surveyResponseHtml = "<%= j render('survey_responses/responses_list', {:s => @survey}) %>";
		$('.ended-survey-responses-list').append(surveyResponseHtml);
	<% end %>
})();