<!DOCTYPE html>
<html>
<head>
  <title>DiaLoggr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<nav id="main-navbar" class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/discussions">DiaLoggr</a>
			</div>
			<ul class="nav navbar-nav">
				<%= yield :navigation %>
			</ul>
		</div>
	</nav>

	<div id="main-container" class="container">
		<%= yield %>
	</div>

</body>
</html>
